/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.main_middle a:link
{
    color: rgb(0, 102, 255);
}

.main_middle a:visited
{
    color: rgb(0, 102, 255);
}

body
{    
    background-image:url('/images/Eiffel.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin-left:auto;
	margin-right:auto;
    min-width:1000px;
    max-width:1000px;
	color: white;
	overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
}

section
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border:1.5px solid;
    border-radius:5px;
    border-color:black;
    padding:1.5% 10% 1.5% 10%;
    overflow: hidden;
    width:80%;
}
