<?xml version="1.0" encoding="utf-8"?>
<categories>
	<% @categories.each do |cat| %>
		<category id="<%= cat.hash_code %>" mode="<%= cat.description %>" name="<%= cat.name %>" instruction="<%= cat.instruction %>"/>
	<% end %>
</categories>