<h1> CLIENT VIEW </h1>

<% if @category %>
	<p>
	  <strong>Category Name:</strong>
	  <%= @category.name %>
	</p>
	 
	<p>
	  <strong>Category Description:</strong>
	  <%= @category.description %>
	</p>

	<p>
	  <strong>Category Instruction:</strong>
	  <%= @category.instruction %>
	</p>

	<%= link_to 'Back to Admin view', category_path(@category) %>
	<h2>Words list:  <%= @count %> words </h2>
	<% @category.words.each do |word| %>
	  <p>
	    <%= word.word %>
	  </p>
	<% end %>
<% end %>