<h1>Editing word</h1>
 
<%= form_for :word, url: category_word_path(@word.category, @word), method: :patch do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited
        this word from being saved:</h2>
      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </p>

  <p>
    <%= f.label :publish %><br>
    <%= f.check_box :published %>
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>