<h1>Editing category</h1>
 
<%= form_for :category, url: category_path(@category), method: :patch do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "100", :rows => "10" %>
  </p>

  <p>
    <%= f.label :instruction %><br>
    <%= f.text_area :instruction, :cols => "100", :rows => "10" %>
  </p>
 
  <p>
    <%= f.label :publish %><br>
    <%= f.check_box :published %>
  </p> 

  <p>
    <%= f.label :NewWords %><br>
    <%= f.text_area :words, :cols => "100", :rows => "10"%>
  </p> 
  <p>
    (De insert nhieu chu vao database cung 1 luc: xoa het content trong khung words di, copy het tat ca cac chu muon insert vao khung nay, separated by semi-colon ';'
    Vi du: word1;word2;word3; => insert word1, word2, word3 to database)
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>