<h1>All categories</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>HowToPlay</th>
    <th>Published</th>
  </tr>
 
  <% @categories.each do |cat| %>
    <tr>
      <td><%= link_to "#{cat.name}", category_path(cat) %></td>
      <td><%= truncate( "#{cat.description}", :length => 30) %></td>
      <td><%= truncate( "#{cat.instruction}", :length => 30) %></td>
      <td><%= cat.published %></td>
    </tr>
  <% end %>
</table>