<% if @category %>
	<h2><%= link_to 'Edit this category', edit_category_path(@category) %></h2>

	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	  <%= @category.description %>
	</p>

	<p>
	  <strong>How to play:</strong>
	  <%= @category.instruction %>
	</p>

	<p>
	  <strong>Published:</strong>
	  <%= @category.published %>
	</p>

	<p>
	  <strong>Client code:</strong>
	  <%= link_to "#{@category.hash_code}", client_path(@category.hash_code) %>
	</p>

	<h2>Words list: <%= @count %> words <p class="right"><%= link_to "Add New Word", new_category_word_path(@category.id) %></p></h2>
	
	<table>
		<tr>
			<th>Word</th>
	    	<th>Status</th>
		</tr>
		<% @category.words.each do |word| %>
		<tr>
	    	<td><%= word.word %></td>
	    	<% if word.published %>
        		<td>published</td>
        	<% else %>
        		<td>not published</td>
        	<% end %>
	    	<td><%= link_to 'Edit', [:edit, word.category, word] %></td>
      		<td><%= link_to 'Delete', [word.category, word],
                	    method: :delete, data: { confirm: 'Are you sure?' } %></td>
        	
		</tr>
		<% end %>
	</table>
	
<% end %>
