<!DOCTYPE html>
<html>
	<head>
		<link rel="tictocLogo" href="/images/tictocLogo.png"/>
	  <title>iDoan</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<% if current_user %>
			<header class="header">
				<nav>
					<%= link_to "Home", controller: "welcome" %>
					<%= link_to "New category", new_category_path %>

					<div class="login">
						<% if current_user %>
							<strong><%= current_user.email %></strong>
							<%= link_to "Log out", log_out_path %>
						<% else %>
							<%= link_to "Sign up", sign_up_path %> or
							<%= link_to "log in", log_in_path %>
						<% end %>
					</div>
				</nav>
			</header>
		<% end %>

		<br>
		<br>
		<section class="main_middle">
			<%= yield %>
		</section>


		<br><br>
		<footer class="footer">
				<img src="/images/tictocLogo.png" alt="logo" />
				<h1>Vegas, where everything begins</h1>
				<div class="copyright">
					<small>Copyright 2014 Tic Toc Production. All rights reserved</small>
				</div>
		</footer>

	</body>
</html>
